*{
	box-sizing: border-box;
	font-size: 25px;
}
.row1,.row2,.row3
{
	position: relative;
	overflow: auto;
}

h1{
	position: relative;
	font-size: 175%;
	text-align: center;
	font-weight: 90;
}
#box1
{
	box-sizing: border-box;
	position:absolute;
	top:0;
	right:0;
	margin:0;
	padding: 3px;
	font-size: 120%;
	border-width:0px 0px 1px 1px;
	background-color: red;
	border-style:solid;
	border-color: black;
	font-weight: 75;
}
#box2
{
	box-sizing: border-box;
	position:absolute;
	top:0;
	right:0;
	margin:0;
	padding: 4px;
	font-size: 120%;
	border-width:0px 0px 1px 1px;
	background-color: yellow;
        border-style:solid;
	border-color: black; 
	font-weight: 75;
}
#box3
{
	box-sizing: border-box;
	position:absolute;
	top:0;
	right:0;
	margin:0;
	padding: 4px;
	font-size: 120%;
	border-width:0px 0px 1px 1px;
	background-color: green;
        border-style:solid;
	border-color: black;
	font-weight: 75;
}
p{
	position: relative;
	top: 19px;
	width:90%;
	margin-left: auto;
	margin-right: auto;

}

.row1,.row2,.row3
{
	background-color:skyblue;
}


@media(min-width: 992px){
	.row1,.row2,.row3{
		float: left;
		border: 1px solid black;
		width:32%;
		margin:0.5%;
		margin-top: 90px;
	}
	h1{
		top:60px;
	}
}
@media(min-width: 768px) and (max-width: 991px)
{
	h1
	{
		top:60px;
	}
	.row1,.row2
	{
		float:left;
		border: 1px solid black;
		width:49%;
		margin:0.5%;
		margin-top: 90px;
		margin-bottom:10px;
	}
	.row3
	{
		float:left;
		border: 1px solid black;
		width:99%;
		margin: 0.5%;
		margin-top:1px;
	}


}
@media(max-width: 767px)
{
	h1
	{
		top: 60px;
	}
	.row1,.row2,.row3{
		float: left;
		border: 1px solid black;
		width:100%;
		margin-top: 3px;
	}
	.row1
	{
		margin-top: 80px;
	}
	.row2,.row3
	{
		margin-top:10px;
	}

}