body
{
	background-color: #403f7fed;
}
.bg-light
{
	background-color: #7474a9 !important;
}

ul
{
	background-color: #505076;

}
li
{
	color: black;
	text-align: center;
	border-bottom: 1px solid black;

}
h2
{
	margin-top: 10px;
	margin-bottom: 10px;
}
h4
{
	margin-top: 5px;
	margin-bottom: 5px;
}
#content
{
	width:90%;
}
.col-lg-12, .col-md-12, .col-sm-12
{
	background-color: #cccdde;
	margin-top: 10px;
	border: 1px solid black;
}